// background`s color`s
$bg-white: #ffffff;
$bg-white100: #FAFAFA;
$bg-white200: #E6E6E6;
$bg-white300: #F1F1F1;
$bg-white400: #DADADA;
$bg-gray: #434343;
$bg-gray100: #BDBDBD;
$bg-gray200: #343538;
$bg-gray300: #979797;
$bg-black: #000000;
$bg-black100: #18191D;
$bg-red100: #EB291E;
$bg-red200: #EE4C43;
$bg-red300: #EE433A;
$bg-light-blue: #D9EEFF;
// text color`s
$color-white: #ffffff;
$color-white100: #FAFAFA;
$color-black: #000000;
$color-black100: #18191D;
$color-black200: #2B2D37;
$color-gray: #797575;
$color-gray100: #3C3C3C;
$color-gray200: #BDBDBD;
$color-gray300: #F1F1F1;
$color-gray400: #BCBCBC;
$color-gray500: #979797;
$color-red: #EB291E;
// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-proxima: 'Proxima Nova', sans-serif;